{{#extend 'layouts/intro' }}
{{#content "hero"}}
<!--<header class="header">
  <div class="header-wrapper d-flex align-items-center justify-content-between">
    <div class="header-logo">
      <a href="#" class="hover-target">
        <img class="img-fluid" src="./assets/images/logo.png" alt="#" title="">
      </a>
    </div>
    <div class="d-flex align-items-center mr-3">
      <a href="https://meetmighty.com/dashboards/simple-dash/documentation/" target="_blank"
        class="btn-doc btn btn-outline-primary mr-3"><span>Documentation</span> </a>
      <a href="" target="_blank" class="purchase-btn btn btn-primary" target="_blank"><span>Purchase Now</span></a>


    </div>
  </div>
</header>-->
<a href="#" class="purchase-btn-fixed">
   <div class="p-icon">
      <img src="./assets/images/intro/btn-icon.svg">
   </div>
</a>


<div class="main-slider">
   <div class="slider-content parallax position-relative overflow-hidden back-mountent h-100">
      <div class="slider-top-banner">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="slider-text text-left">
                     <a href="#" class="d-flex align-items-center">
                        <img class="img-fluid logo" src="./assets/images/logo.png" alt="#" title="">
                     </a>
                     <h3 class="mt-5 text-uppercase text-primary"><b>Clean & Minimal</b></h3>
                     <h2 class="mt-3 text-uppercase font-weight-300">Html Admin Template</h2>
                     <p class="mt-3 pb-5">Beautifully designed Layouts & Pages. Ocean full of options to choose from for
                        your next project</p>
                     <!--<div class="d-flex align-items-center mt-xl-5 mb-3">
                        <h2 class="mr-3 price text-primary"><b>$6</b></h2>
                        <span class="h2 old-price mb-0">$20</span>
                     </div>-->
                     <div class="d-flex align-items-center mt-5">
                        <a href="https://themeforest.net/item/simpled-html-admin-template/30368875" target="_blank"
                           class="purchase-btn btn btn-primary"><span>Buy Now</span></a>
                        <a href="https://meetmighty.com/dashboards/simpled/documentation/" target="_blank"
                           class="btn-doc btn btn-outline-primary ml-3"><span>Documentation</span></a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-8 col-md-6">
                  <div class="slider-banner">
                     <!--<div class="slider-1 wow fadeInUp" data-wow-delay="0.4s"></div>
                     <div class="slider-2 wow fadeInUp" data-wow-delay="0.16s"></div>-->
                     <img src="./assets/images/intro/slider/banner/01.png" class="img-fluid slider-1 wow fadeInUp"
                        alt="images">
                     <img src="./assets/images/intro/slider/banner/02.png" class="img-fluid slider-2 wow fadeInUp"
                        alt="images">
                     <img src="./assets/images/intro/slider/banner/03.png" class="img-fluid slider-main wow fadeInUp"
                        alt="images">
                  </div>
               </div>
            </div>
         </div>
         <div class="slider-bg"></div>
         <div class="slider-bg-1 wow fadeInUp" data-wow-delay="0.5s"></div>
         <div class="slider-bg-2 wow fadeInUp" data-wow-delay="0.8s"></div>
         <div class="slider-bg-3 wow fadeInUp" data-wow-delay="0.12s"></div>
         <div class="slider-bg-4 wow fadeInUp" data-wow-delay="0.16s"></div>
         <div class="slider-bg-5 wow fadeInUp" data-wow-delay="0.19s"></div>
      </div>
      <div class="slider-copyright">
         <a href="javascript:void()" class="text-uppercase ml-2">MEET MIGHTY</a>
      </div>
      <div class="slider-breed">
         <a href="javascript:void();" class="text-uppercase mr-2">#ADMIN TOOLKIT &nbsp;&nbsp;</a>
      </div>
   </div>
</div>
{{/content}}

{{#content "content"}}
<section id="package" class="section-bg main-layouts bg-common position-relative overflow-hidden">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-lg-7 col-md-12 m-auto text-lg-left text-center wow fadeInUp">
            <div class="packge-content">
               <div class="row align-items-center">
                  <div class="col-md-4 col-sm-6 count-detail">
                     <h1 class="counter-title text-primary mb-1"><span class="counter">10</span>+</h1>
                     <h5 class="count-text text-body">Screens</h5>
                  </div>
                  <div class="col-md-4 col-sm-6 count-detail">
                     <h1 class="counter-title text-danger mb-1"><span class="counter">100</span>+</h1>
                     <h5 class="count-text text-body">Elements</h5>
                  </div>
                  <div class="col-md-4 col-sm-6 count-detail">
                     <h1 class="counter-title text-success mb-1"><span class="counter">25</span>+</h1>
                     <h5 class="count-text text-body">Icons</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section id="page-technology" class="bg-primary techno techno-color">
   <div class="container-fluid">
      <div class="section-title text-center wow fadeInUp">
         <div class="my-3">
            <h2 class="pack-font font-weight-600">Technology<span class="text-white"> used in SimpleD</span></h2>
         </div>
      </div>
      <div class="row align-items-center">
         <div class="col-lg-12 text-lg-left text-center order-1 order-lg-2 packge-content left wow fadeInUp"
            data-wow-delay=".3s">
            <div class="row align-items-center">
               <div class="col-xl-4 col-lg-6 col-md-4">
                  <div class="tech-box wow fadeInUp text-center" data-wow-duration="0.4s">
                     <img class="img-fluid mx-auto d-block" alt="#" src="./assets/images/intro/features/sass-white.png">
                     <h4 class="mt-3 font-weight-700"><a href="#">Sass</a></h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-4 mb-xl-0 ">
                  <div class="tech-box wow fadeInUp text-center" data-wow-duration="0.4s">
                     <img class="img-fluid mx-auto d-block" alt="#"
                        src="./assets/images/intro/features/handle-white.png">
                     <h4 class="mt-3 font-weight-700"><a href="#">HandleBars</a></h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-4 mb-md-0">
                  <div class="tech-box wow fadeInUp text-center" data-wow-duration="0.4s">
                     <img class="img-fluid mx-auto d-block" alt="#" src="./assets/images/intro/features/gulp-white.png">
                     <h4 class="mt-3 font-weight-700"><a href="#">Gulp</a></h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="scroll-section position-relative">
   <section id="main-layouts" class="section-bg main-layouts bg-common position-relative overflow-hidden">
      <div class="section-title text-center wow fadeInUp">
         <div class="my-3">
            <h2 class="pack-font font-weight-600">Prebuild<span class="text-primary"> Layouts</span></h2>
         </div>
         <p class="mb-0 mt-3">Finely crafted Prebuild layouts to give your development <strong>time boost. </strong></p>
      </div>
      <div id="app" class="container-fluid">
         <div class="row">
            {{#each introLayouts}}
            <div class="col-lg-4 wow fadeInUp">
               <div class="ly-box">
                  <div class="text-center ly-title mb-4">
                     <h4>
                        <a href="{{link}}" class="{{#compare link "==" '' }}link-dasable{{/compare}}" target="_blank">
                           {{name}}
                        </a>
                     </h4>
                     {{!--
                     <p class="mb-0 mt-2">{{subTitle}}</p>
                     --}}
                  </div>
                  <div class="card inner-pages wow fadeInUp">
                     <div class="card-body p-0">
                        <a href="{{link}}" target="_blank"
                           class="{{#compare link "==" '' }}link-dasable{{/compare}}"><img src="{{image}}"
                              class="img-fluid w-100 rounded"></a>
                     </div>
                     <div class="comming-soon-lable {{#compare lable "==" '' }}d-none{{/compare}}">{{lable}}</div>
                  </div>
               </div>
            </div>
            {{/each}}
         </div>
      </div>
   </section>
   <section id="landing-layouts" class="section-bg bg-common">
      <div class="section-title text-center wow fadeInUp">
         <div class="my-3">
            <h2 class="pack-font font-weight-600">Inner<span class="text-primary"> Pages</span></h2>
         </div>
         <p class="mb-0 mt-2">Ready to use stunning page templates.</p>
      </div>
      <div id="app" class="container-fluid">
         <div class="row">
            {{#each introPages}}
            <div class="col-md-4 wow fadeInUp">
               <div class="ly-box">
                  <div class="text-center ly-title mb-4">
                     <h4>
                        <a href="{{link}}" class="" target="_blank">
                           {{name}}
                        </a>
                     </h4>
                     {{!--
                     <p class="mb-0 mt-2">{{subTitle}}</p>
                     --}}
                  </div>
                  <div class="card inner-pages wow fadeInUp">
                     <div class="card-body p-0">
                        <a href="{{link}}" class="{{#compare link "==" '' }}link-dasable{{/compare}}"
                           target="_blank"><img src="{{image}}" class="img-fluid w-100 rounded"></a>
                     </div>
                  </div>
               </div>
            </div>
            {{/each}}
         </div>
      </div>
   </section>
</div>
<section id="core-feature" class="core-feature position-relative bg-common">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="section-title text-center wow fadeInUp">
               <h2 class="pack-font font-weight-600">Core<span class="text-primary"> Features</span></h2>
               <p class="mb-0 mt-2">Explore some of the salient features of SimpleD. Carefully crafted <br>to make your
                  project
                  beautiful and functional
               </p>
            </div>
            <div class="featured-items">
               <div class="row">
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/01.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Gulp</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/21.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">SASS</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/02.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Handlebars</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/03.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">W3C Validation</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/16.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Speed Optimized</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/15.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Clean Code</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/23.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Creative Design</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/24.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Fully Responsive</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/09.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Jquery</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/13.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Bootstrap V4+</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/14.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Well Documented</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/07.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Cross Browser</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/06.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Magnific Popup</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/17.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Animate CSS</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/07.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Wow Animations</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/27.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Slick JS</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/29.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Flort Chart</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/19.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Am Chart</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/20.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Apex Chart</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/05.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Bodymovin JS</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/10.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Remixicon</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/11.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Line Awesome</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/12.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Font Awesome</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/28.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Google Font</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/25.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Counterup JS</h6>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-6 col-lg-4-c mb-4 wow fadeInUp">
                     <div class="d-flex align-items-center feature-content p-3">
                        <div class="feature-icon mr-3">
                           <a href="#">
                              <img class="img-fluid figma-img" src="./assets/images/intro/features/26.png" alt="#"
                                 title="">
                           </a>
                        </div>
                        <div class="feature-detail">
                           <h6 class="font-weight-700 mb-0">Countdown JS</h6>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<footer>
   <div class="footer-inner">
      <div class="footer-content position-relative overflow-hidden">
         <div class="footer-text">
            <h3 class="mb-3 text-white">SimpleD Is All Prepared To Use. Get Immediately!</h3>
            <p class="text-white">Don't forget to appreciate our work. Rate us now!</p>
            <ul class="d-block">
               <li class="d-inline"><i class="fas fa-star"></i></li>
               <li class="d-inline"><i class="fas fa-star"></i></li>
               <li class="d-inline"><i class="fas fa-star"></i></li>
               <li class="d-inline"><i class="fas fa-star"></i></li>
               <li class="d-inline"><i class="fas fa-star"></i></li>
            </ul>
            <a href="https://themeforest.net/item/simpled-html-admin-template/30368875?s_rank=1"
               class="purchase-btn btn bg-white mt-4"><span>Purchase Now</span></a>
         </div>
      </div>
   </div>
</footer>
<!-- === back-to-top === -->
<div id="back-to-top">
   <a class="top" id="top" href="#top"> <i class="fas fa-chevron-up"></i> </a>
</div>
<script async src="https://socialproof.zaperp.com/pixel/4PUCCDUMZU814VI4L1L4P2V5XP9K4MPU"></script>
{{/content}}
{{/extend}}